@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: bg-gradient-to-br from-blue-900 to-cyan-600;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: bg-gradient-to-br from-blue-900 to-cyan-600;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
